@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: white;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: #621628;
  color: #ab8d94;
  font-family: "Lato";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
    /* Opcional: Pode adicionar uma animação de translação */
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Opcional: Pode adicionar uma animação de translação */
    animation-duration: 1s;
  }
}

.animate {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  /* Aplica a animação de fade in */
}

.animate-delay {
  animation-delay: 0.3s;
  /* Defina o atraso desejado aqui */
}

.bg-image-section {
  background: linear-gradient(
      rgba(98, 22, 40, 0.5),
      /* Cor com transparência */ rgba(98, 22, 40, 0.5)
        /* Cor com transparência */
    ),
    url("/bg-criancas.png");
  /* URL da sua imagem de fundo */
  background-size: cover;
  /* Para cobrir toda a área da section */
  background-position: center;
  /* Para centralizar a imagem */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-500%);
  }
}

.animate-marquee {
  animation: marquee 300s linear infinite;
  /* Ajuste a velocidade conforme necessário */
}

.custom-shape-divider-bottom-1718321215 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718321215 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 133px;
}

.custom-shape-divider-bottom-1718321215 .shape-fill {
  fill: #ffffff;
}

.background-indian-texture {
  background-image: url("/bg-indian-floral.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}